.card{

    background-color: rgb(32, 197, 197);
    border: 2px solid white;
    border-radius: 12px;
    list-style: none;
    padding: 40px;
    color: white;

}








/* .icone button{

    background-color: rgb(32, 197, 197);
    border: 2px solid white;
    border-radius: 12px; 
    color: white;
    padding: 10px 50px;
    float: left;
   
      
}

.icone button:not(:last-child){

    border-right: none;
} */
